process.container = 'nextflow/rnaseq-nf'
docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled=true

process {
  withName: INDEX {
    cpus = 1
    memory = 8.GB
    queue = 'short'
    container = 'quay.io/comparative-genomics-toolkit/cactus:v2.0.5'
    //clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
    errorStrategy { task.exitStatus == 140 ? 'retry' : 'terminate' }
  }
  withName: "QUANTIFICATION" {
    cpus = 2
    memory = 8.GB
    queue = 'long'
    //clusterOptions = '-l mem=20G -l h_rt=2:0:0 -l tmpfs=20G'
    memory { 1.GB * task.attempt }
  }
}
